<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      APP BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-pading" [fullscreen]="true">
  <div class="ion-text-center"><img src="../../assets/01.png.png" style="width: 250px;"></div>
<ion-card color="dark" class="ion-padding">
<ion-item>
  <ion-input label="กรอกน้ำหนัก:" placehoolder="kg"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="กรอกส่วนสูง:" placehoolder="cm"></ion-input>
    </ion-item>
    <br>
    <ion-button sixe="large" expand="block" shape="round"></ion-button>
    </ion-card>
<ion-button collor="warning" size="large" expand="block" shape="round">ผลลัพธุ์
</ion-button>
<ion-button collor="warning" size="large" expand="block" shape="round">แปลผล
</ion-button>
</ion-content>
